<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RemembMe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
  <RemembMe.Properties.Settings>
   <setting name="Hotkey" serializeAs="String">
    <value>Ctrl+Q</value>
   </setting>
   <setting name="SelectedLanguage" serializeAs="String">
    <value />
   </setting>
   <setting name="SelectedLanguageIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="btnText" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AutoStart" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SaveImage" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LinkToSave" serializeAs="String">
    <value />
   </setting>
  </RemembMe.Properties.Settings>
 </userSettings>
</configuration>